<style>
.easyDialog_text {
	padding: 5px 20px !important
}
</style>

<form method="POST" id="statisticForm">
	<input type="hidden" name="id" value="">
	<table style="border-collapse: separate; border-spacing: 5px;">
	  <tr>
	    <td>楼盘信息：</td>
	    <td>
			<select id="house_id" name="house_id">
	    		{{foreach from=$houseList key=key item=item}}
	    		<option value="{{$item.id}}">{{$item.name}}</option>
	    		{{/foreach}}
	    	</select>
		</td>
	  </tr>
	  <tr>
	    <td>楼栋号：</td>
	    <td><input type="text" name="house_no" id="house_no"></td>
	  </tr>
	  <tr>
	    <td>房号：</td>
	    <td><input type="text" name="room_no" id="room_no"></td>
	  </tr>
	  <tr>
	    <td>成交日期：</td>
	    <td>
	    	<input type="text" name="date" id="date">
	    	<!-- <input type="text" class="am-form-field" placeholder="日历组件" data-am-datepicker readonly required /> -->
	    </td>
	  </tr>
	  <tr>
	    <td>成交金额：</td>
	    <td><input type="text" name="amount" id="amount"></td>
	  </tr>
	  <tr>
	    <td>业务员：</td>
	    <td>
	    	<select id="user_id" name="user_id">
	    		{{foreach from=$userList key=key item=item}}
	    		<option value="{{$item.id}}">{{$item.rel_name}}</option>
	    		{{/foreach}}
	    	</select>
	    </td>
	  </tr>
	  <tr>
	    <td>所属门店：</td>
	    <td><input type="text" name="store_info" id="store_info"></td>
	  </tr>
	  <tr>
	    <td>合同号：</td>
	    <td><input type="text" name="contract_no" id="contract_no"></td>
	  </tr>
	  <tr>
	    <td>付款状况：</td>
	    <td>
	    	<select id="status" name="status">
	    		<option value="1">已付款</option>
	    		<option value="2">未付款</option>
	    	</select>
	    </td>
	  </tr>
	  <tr>
	    <td>备注：</td>
	    <td><textarea id="remark" name="remark" rows="5" cols="23"></textarea></td>
	  </tr>
	</table>
</form>