<div class="admin-content">
    <div class="am-cf am-padding">
      	<div class="am-fl am-cf">
      		<strong class="am-text-primary am-text-lg">啊啊啊啊</strong>
      	</div>
    </div>
    <div class="am-g" style="height:530px">
       	<form id="addReportForm" method="post" action="{{site_url url='cw_month_reports/upload_month_reports'}}" class="add_report_form" enctype="multipart/form-data">
          <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
	      </div>
	      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
		  	<div class="am-form-group">
	            <label class="am-u-sm-2 am-form-label">345: </label>
	            <div class="am-u-sm-10">
	              <select data-am-selected="{btnWidth: '60', btnSize: 'sm', btnStyle: 'default'}" name="year">
	        		<option value="2011">2011</option>
	        		<option value="2012">2012</option>
				</select>
	            </div>
	        </div>
	        <br>
	        <div class="am-form-group">
	            <label class="am-u-sm-2 am-form-label">123: </label>
	            <div class="am-u-sm-10">
	               <select data-am-selected="{btnWidth: '60', btnSize: 'sm', btnStyle: 'default'}" name="month">
	        		<option value="1">1</option>
	        		<option value="2">2</option>
	        		<option value="3">3</option>
				</select>
	            </div>
	        </div>
	      </div>
	    </form>
	</div>
</div>