  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">公司月度统计表</strong></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-9">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button type="button" class="am-btn am-btn-danger" id="btnAddStatistic"><span class="am-icon-plus"></span> 新增</button>
          </div>
        </div>
      </div> 
       <form method="post" action="{{site_url url='my_overtime/list_overtime'}}" class="search_form">
	      <div class="am-u-sm-12 am-u-md-3">
	        <div class="am-input-group am-input-group-sm">
	          <input type="text" class="am-form-field" name="address" value="">
	          <span class="am-input-group-btn">
	            <input type="submit" class="am-btn am-btn-default" value="搜索" />
	          </span>
	        </div>
	      </div>
      </form>
    </div>
    <div class="am-g">
      <div class="am-u-sm-12">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-id">ID</th>
                <th class="table-title">楼盘信息</th>
                <th class="table-title">金额</th>
                <th class="table-date am-hide-sm-only">成交日期</th>
                <th class="table-title">成交门店</th>
                <th class="table-title">业务员</th>
                <th class="table-title">合同号</th>
                <th class="table-title">付款情况</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
          	{{foreach from=$data.items key=key item=item}}
          	<tr>
              <td>{{$item.id}}</td>
              <td>{{$item.house_id}}</td>
              <td>{{$item.amount}}</td>
              <td class="am-hide-sm-only">{{$item.date}}</td>
              <td>{{$item.store_info}}</td>
              <td>{{$item.user_id}}</td>
              <td>{{$item.contract_no}}</td>
              <td>
              	  {{if $item.status == 1}}
              		<font class="am-badge am-badge-success">已付款</font>
              	  {{else}}
              	  	<font class="am-badge am-badge-danger">未付款</font>
              	  {{/if}}
              </td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                  	<button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="javascript:location.href='{{site_url url='xz_overtime/view_overtime'}}/{{$item.id}}/1';"><span class="am-icon-pencil-square-o"></span> 查看</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger btn_del" data-url="{{site_url url='my_overtime/del_overtime'}}/{{$item.id}}"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
            {{/foreach}}
          </tbody>
        </table>
		<div class="am-cf">{{$pager}}</div>
      </div>

    </div>
  </div>
  <!-- content end -->
<script>
var btnFn = function(e){
	alert(e.target);
	return false;
};

$("#btnAddStatistic").click(function() {
	$.get('/cw_statistic/add_statistic', function(data) {
		easyDialog.open({
			container : {
				header : '添加统计数据',
				content : data,
				yesFn : btnFn,
				noFn : true
			}
		});
	});
});
</script>