  <!-- content start -->
  <div class="admin-content" style="min-height:450px">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">成交明细表</strong></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">&nbsp;</div>
       <form method="post" action="{{site_url url='cw_brokerage/list_brokerage'}}" class="search_form">
	      <div class="am-u-sm-12 am-u-md-3">
	        <div class="am-input-group am-input-group-sm">
	        	<select data-am-selected="{btnWidth: '120', btnSize: 'sm', btnStyle: 'default'}" name="house_id">
                    <option value="0">- 楼盘(全选) -</option>
	        		{{foreach from=$houses item=item}}
				  	<option value="{{$item.id}}" {{if $item.id == $data.house_id}}selected{{/if}}>{{$item.name}}</option>
				  	{{/foreach}}
				</select>
	        </div>
	      </div>
	      <div class="am-u-sm-12 am-u-md-3">
	        <div class="am-input-group am-input-group-sm">
	          <input type="text" class="am-form-field" name="uname" value="{{$data.uname}}">
	          <span class="am-input-group-btn">
	            <input type="submit" class="am-btn am-btn-default" value="搜索" />
	          </span>
	        </div>
	      </div>
      </form>
    </div>
    <div class="am-g">
      <div class="am-u-sm-12">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-id">ID</th>
                <th class="table-title">客户姓名</th>
                <th class="table-title">客户电话</th>
                <th class="table-title">楼盘</th>
                <th class="table-title">房号</th>
                <th class="table-title">面积</th>
                <th class="table-title">总价</th>
                <th class="table-title">业务员</th>
                <th class="table-title">订购日期</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
          	{{foreach from=$data.items key=key item=item}}
          	<tr>
              <td>{{$item.id}}</td>
              <td>{{$item.customer}}</td>
              <td>{{$item.phone}}</td>
              <td>{{$item.name}}</td>
              <td>{{$item.house_no}}</td>
              <td>{{$item.acreage}}</td>
              <td>{{$item.total_price}}</td>
              <td>{{$item.rel_name}}</td>
              <td class="am-hide-sm-only">{{$item.date}}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                  	<button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="javascript:location.href='{{site_url url='cw_brokerage/view_brokerage'}}/{{$item.id}}';"><span class="am-icon-pencil-square-o"></span> 查看</button>
                  </div>
                </div>
              </td>
            </tr>
            {{/foreach}}
          </tbody>
        </table>
		<div class="am-cf">{{$pager}}</div>
      </div>

    </div>
  </div>
  <!-- content end -->

