<div class="am-offcanvas-bar admin-offcanvas-bar"  id="menuDiv">
  <ul class="am-list admin-sidebar-list am-panel">
    <li><a href="/"><span class="am-icon-home"></span> 工作台</a></li>
     <li class="admin-parent">
      <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav'}">
      	<span class="am-icon-file"></span> 行政管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
      </a>
      <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav">
        <li><a href="javascript:open_content('/xz_notice/list_notice');" class="am-cf menu"><span class="am-icon-check"></span> 通知列表</a></li>
        <li><a href="javascript:open_content('/xz_bulletin/list_bulletin');" class="am-cf menu"><span class="am-icon-check"></span> 公告列表</a></li>
        <li><a href="javascript:open_content('/xz_timesheet');" class="am-cf menu"><span class="am-icon-check"></span> 考勤信息</a></li>
        <li><a href="javascript:open_content('/xz_leave/list_leave');" class="am-cf menu"><span class="am-icon-check"></span> 请假单列表</a></li>
        <li><a href="javascript:open_content('/xz_overtime/list_overtime');" class="am-cf menu"><span class="am-icon-check"></span> 加班单列表</a></li>
      </ul>
    </li>
    <li class="admin-parent">
      <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav2'}">
      	<span class="am-icon-file"></span> 财务管理<span class="am-icon-angle-right am-fr am-margin-right"></span>
      </a>
      <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav2">
        <li><a href="javascript:open_content('/cw_brokerage/list_brokerage');" class="am-cf menu"><span class="am-icon-check"></span> 报账台管理</a></li>
        <li><a href="javascript:open_content('/cw_month_reports/list_month_reports');" class="am-cf menu"><span class="am-icon-check"></span> 报表文件管理</a></li>
      </ul>
    </li>
    <li class="admin-parent">
      <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav8'}">
      	<span class="am-icon-file"></span> 权限管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
      </a>
      <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav8">
        <li><a href="javascript:open_content('/rule_company/list_company');" class="am-cf menu"><span class="am-icon-check"></span> 公司管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
        <li><a href="javascript:open_content('/rule/list_rule');" class="am-cf menu"><span class="am-icon-check"></span> 角色管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
        <li><a href="javascript:open_content('/rule_user/list_user');" class="am-cf menu"><span class="am-icon-check"></span> 用户管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
      </ul>
    </li>
    {{if 1|in_array:$menu}}
    <li class="admin-parent">
      <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav9'}">
      	<span class="am-icon-file"></span> 基础数据 <span class="am-icon-angle-right am-fr am-margin-right"></span>
      </a>
      <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav9">
        <li><a href="javascript:open_content('/basic_department/list_department');" class="am-cf menu"><span class="am-icon-check"></span> 部门管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
      </ul>
    </li>
    {{/if}}
    <li class="admin-parent">
      <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#document-nav'}">
      	<span class="am-icon-file"></span> 我的单据 <span class="am-icon-angle-right am-fr am-margin-right"></span>
      </a>
      <ul class="am-list am-collapse admin-sidebar-sub" id="document-nav">
        <li><a href="javascript:open_content('/my_leave/list_leave');" class="am-cf menu"><span class="am-icon-check"></span> 请假申请<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
        <li><a href="javascript:open_content('/my_overtime/list_overtime');" class="am-cf menu"><span class="am-icon-check"></span> 加班申请<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
        <li><a href="javascript:open_content('/my_brokerage/list_brokerage');" class="am-cf menu"><span class="am-icon-check"></span> 报账请佣<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
      </ul>
    </li>
    
        <li class="admin-parent">
      <a class="am-cf" data-am-collapse="{parent: '#menuDiv', target: '#collapse-nav10'}">
      	<span class="am-icon-file"></span> 工作任务 <span class="am-icon-angle-right am-fr am-margin-right"></span>
      </a>
      <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav10">
        <li><a href="javascript:open_content('/task/list_task');" class="am-cf menu"><span class="am-icon-check"></span> 发送任务<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
        <li><a href="javascript:open_content('/task/list_audit_task');" class="am-cf menu"><span class="am-icon-check"></span> 审核任务<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
        <li><a href="javascript:open_content('/task/list_my_task');" class="am-cf menu"><span class="am-icon-check"></span> 我的任务<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
      </ul>
    </li>
  </ul>
</div>
<script>
$('.menu').click(function(){
	$('.menu').css('background-color','#FFFFFF');
	$(this).css('background-color','#E3E3E3');
});
</script>
