<!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">查看公告</strong> / <small>Show bulletin</small></div>
    </div>
    <hr/>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
      </div>
      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
		<article class="am-article">
		  <div class="am-article-hd">
		    <h3 >{{$data.title}}</h3>
		    <p class="am-article-meta">{{$bulletin_num}} - {{$data.cdate}}</p>
		  </div>
		  {{$data.content}}
		  <a class="am-btn am-btn-default" href="{{if $key == 1}}/xz_bulletin/list_bulletin{{else}}/index/main{{/if}}">返回</a>
		</article>
      </div>
    </div>
  </div>
  <!-- content end -->
