  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">查看请假单</strong> / <small>Show leave</small></div>
    </div>
    <hr/>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
      </div>
      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
	  	<div class="am-form-group">
            <label class="am-u-sm-2">申请人:</label>
            <label class="am-u-sm-10">{{$data.uname}}</label>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2">所属部门:</label>
            <label class="am-u-sm-10">{{$data.dname}}</label>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2">职位:</label>
            <label class="am-u-sm-10">{{$data.position}}</label>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2">代理人:</label>
            <label class="am-u-sm-10">{{$data.agent}}</label>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2">请假类型:</label>
            <label class="am-u-sm-10">{{$data.tname}}</label>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2">请假事由:</label>
            <label class="am-u-sm-10">{{$data.reason}}</label>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2">请假时间:</label>
            <label class="am-u-sm-10">{{$data.start_time}} - {{$data.end_time}}</label>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2">上级审核:</label>
            <label class="am-u-sm-10">通过</label>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-2">创建时间:</label>
            <label class="am-u-sm-10">{{$data.cdate}}</label>
        </div>
        <br>
        <a type="button" class="am-btn am-btn-default" href="{{site_url url='/xz_leave/list_leave'}}">返回</a>
      </div>
    </div>
  </div>
  <!-- content end -->
