<script type="text/javascript" charset="utf-8" src="/statics/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/statics/ueditor/ueditor.all.min.js"> </script>
<style>
 .am-tabs-nav li {
    position: relative;
    z-index: 1;
  }
  .am-tabs-nav .am-icon-close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #888;
    cursor: pointer;
    z-index: 100;
  }
  .am-tabs-nav .am-icon-close:hover {
    color: #333;
  }
  .am-tabs-nav .am-icon-close ~ a {
    padding-right: 25px!important;
  }
</style>
<!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">任务详情</strong> / <small>Task detail</small></div>
    </div>
    <hr/>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
      </div>
      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
      
      <article class="am-article">
		  <div class="am-article-hd">
		    <h3 >{{$data.title}}&nbsp;{{if $data.status == '1'}}<font class="am-badge am-badge-warning">待处理</font>{{/if}}{{if $data.status == '2'}}<font class="am-badge am-badge-success">已解决</font>{{/if}}{{if $data.status == '3'}}<font class="am-badge am-badge-danger">已关闭({{$data.close_name}})</font>{{/if}}</h3>
		    <p class="am-article-meta">{{if $data.lev == '1'}}<font class="am-badge am-badge-success">普通</font>{{/if}}{{if $data.lev == '2'}}<font class="am-badge am-badge-warning">加急</font>{{/if}}{{if $data.lev == '3'}}<font class="am-badge am-badge-danger">紧急</font>{{/if}}&nbsp;{{$data.cdate}}</p>
		    
		  </div>
		  {{$data.content}}
		</article>
      
        <input type="hidden" name='id' value="{{$data.id}}">
        <form class="am-form am-form-horizontal" method="post" action="/task/save_my_task" data-am-validator>
        <button type="button" class="am-btn am-btn-primary js-append-tab am-btn-sm">添加进度</button>
		<div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
		  <ul class="am-tabs-nav am-nav am-nav-tabs">
		  {{foreach from=$list item=item key=k}}
		  <li {{if $k == 0}}class="am-active"{{/if}}><a href="javascript: void(0)">进度{{$k+1}}</a></li>
		  {{/foreach}}
		  </ul>
		  
		  <div class="am-tabs-bd">
		  {{foreach from=$list item=item key=k}}
		  <div class="am-tab-panel {{if $k == 0}}am-active am-in{{/if}}">{{$item.progress}}</div>
		  {{/foreach}}
		  </div>
		</div>
		<br />
		
		<br />
          <input type="submit" class="am-btn am-btn-primary" value="确认">
          <a class="am-btn am-btn-danger" href="/task/close_task/{{$data.id}}">关闭任务</a>
          <a class="am-btn am-btn-default" href="/task/list_my_task">返回</a>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->
<script>
$(function() {
  var tabCounter = 1;
  var $tab = $('#doc-tab-demo-1');
  var $nav = $tab.find('.am-tabs-nav');
  var $bd = $tab.find('.am-tabs-bd');

  function addTab() {
    var nav = '<li><span class="am-icon-close"></span>' +
      '<a href="javascript: void(0)">进度' + tabCounter + '</a></li>';
    var content = '<div class="am-tab-panel"><textarea name="progress[]"></textarea><a class="am-btn am-btn-primary am-btn-xs am-fr" style="margin-top:10px;" onclick="save_progress(this);">保存</a></div>';
    $nav.append(nav);
    $bd.append(content);
    tabCounter++;
    $tab.tabs('refresh');
  }

  // 动态添加标签页
  $('.js-append-tab').on('click', function() {
    addTab();
  });

  // 移除标签页
  $nav.on('click', '.am-icon-close', function() {
    var $item = $(this).closest('li');
    var index = $nav.children('li').index($item);

    $item.remove();
    $bd.find('.am-tab-panel').eq(index).remove();

    $tab.tabs('open', index > 0 ? index - 1 : index + 1);
    $tab.tabs('refresh');
  });

});

function save_progress(obj){
	task_id = $('[name="id"]').val();
	progress = $(obj).parent().find('[name="progress[]"]').val();
	$.post("/task/save_my_task",{progress:progress,task_id:task_id},function(data){
	    if(data == '1'){
	    	easyDialog.open({
					container : {
						content : "保存成功！"
					},
					autoClose : 1200,
				});
	    }else{
	    	easyDialog.open({
				container : {
					content : "保存失败！"
				},
				autoClose : 1200,
			});
	    }
	});
}
</script>
