<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">创建报销单</strong> / <small>Add leave</small></div>
    </div>
    <hr/>
    <div class="am-g">
        <form class="am-form am-form-horizontal" method="post" action="">
            <table cellpadding="0" cellspacing="0" border="0" id="commItemTable">
                <tr>
                    <th>部门：</th>
                    <td><select data-am-selected="{searchBox: 1, dropUp: 1, btnWidth: '250px'}" id="departmentSelect" name="direct_dept_id">
                    <option value="-1">- 选择部门 -</option>
                    <option value="技术部" >技术部</option>
                    <option value="策划部" >策划部</option>
                    <option value="市场部" >市场部</option>
                    </select></td>
                    <th>制单人：</th>
                    <td><input type="text" name="position" id="applyUserInput"  placeholder="制单人">
                    </td>
                    <th></th>
                    <td><button  type="button" class="am-btn am-btn-primary"  data-am-modal="{target: '#my-alert'}">创建</button></td>
                </tr>
            </table>
        </form>
   </div>
<!--popup-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal" method="post" action="/my_overtime/save_overtime" id="addBulletinForm">
                    <table cellpadding="0" cellspacing="0" border="0">
                         <tr>
                             <th>项目：</th>
                             <td><input type="text" name="position" id="itemInput"  placeholder="项目"></td>
                        </tr>
                        <tr>
                            <th>日期：</th>
                           <td>
                               <input type="text" class="am-form-field" id="itemTime" placeholder="日历组件" data-am-datepicker readonly required />
                           </td>
                        </tr>
                        <tr>
                            <th>费用类型：</th>
                            <td><select data-am-selected="{searchBox: 1, dropUp: 1, btnWidth: '250px'}" id="costTypeInput" name="itemStyle_id">
                                <option value="-1">- 选择费用类型 -</option>
                            </select></td>
                        </tr>
                        <tr>
                            <th>摘要：</th>
                            <td><select data-am-selected="{searchBox: 1, dropUp: 1, btnWidth: '250px'}" id="detailInput" name="detailInput_id">
                                <option value="-1">- 选择摘要 -</option>
                            </select></td>
                        </tr>
                        <tr>
                            <th>金额：</th>
                            <td><input type="text" name="position" id="moneyInput"  placeholder="金额"></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><input type="button" class="am-btn am-btn-primary" value="添加" id="confirmBtn"> </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main reimbursement-table" id="add-reimbursement-table">
                <thead>
                <tr>
                    <th class="table-id">项目</th>
                    <th class="table-time">日期</th>
                    <th class="table-freestyle">费用类型</th>
                    <th class="table-abstract">摘要</th>
                    <th class="table-money">金额</th>
                    <th class="table-option">操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                       <td>研究开发</td>
                       <td>2016.01.14</td>
                       <td>管理费用</td>
                       <td>研究开发费</td>
                       <td>￥1000.00</td>
                       <td><button class="am-btn am-btn-default am-btn-xs am-text-danger btn_del" data-url=""><span class="am-icon-trash-o"></span> 删除</button>
                           <button  type="button"class="am-btn am-btn-default am-btn-xs am-text-secondary"  data-am-modal="{target: '#my-alert'}"><span class="am-icon-pencil-square-o"></span>编辑</button>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
           <p class="am-cost-total"> 总计：￥<span class="total"></span></p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#confirmBtn").click(function() {
        var departmentSelect = $("#departmentSelect").val();
        if (departmentSelect<0) {
            easyDialog.open({
                container: {
                    content: "请选择部门！"
                },
                autoClose: 1200,
            });
            return false;
        }
        var applyUserInput = $("#applyUserInput").val();
        if (!applyUserInput) {
            easyDialog.open({
                container: {
                    content: '制单人不能为空！'
                },
                autoClose: 1500
            });
            return;
        }
        var itemInput = $("#itemInput").val();
        if (!itemInput) {
            easyDialog.open({
                container: {
                    content: "项目不能为空！"
                },
                autoClose: 1200,
            });
            return false;
        }
        var itemTime = $("#itemTime").val();
        alert(itemTime);
            if (!itemTime) {
                easyDialog.open({
                    container: {
                        content: "时间不能为空！"
                    },
                    autoClose: 1200,
                });
                return false;
            }

        var costTypeInput = $("#costTypeInput").val();
        if (costTypeInput < 0) {
            easyDialog.open({
                container: {
                    content: '请选择费用类型！'
                },
                autoClose: 1500
            });
            return;
        }
        var detailInput = $("#detailInput").val();
        if (detailInput < 0) {
            easyDialog.open({
                container: {
                    content: '请选择摘要！'
                },
                autoClose: 1500
            });
            return;
        }
        var moneyInput = $("#moneyInput").val();
        if (!moneyInput) {
            easyDialog.open({
                container: {
                    content: '金额不能为空！'
                },
                autoClose: 1500
            });
            return;
        }
    var tdhtml =' <tr><td>'+itemInput+'</td><td>'+itemTime+'</td><td>'+costTypeInput+
        '</td><td>'+detailInput+'</td><td>'+moneyInput+'</td><td><button class="am-btn am-btn-default am-btn-xs am-text-danger btn_del" data-url=""><span class="am-icon-trash-o"></span> 删除</button>'+
        '<button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button></td>'+
        '</tr>';
    $("#add-reimbursement-table tbody").append(tdhtml);

    var itemStyle = document.getElementById('costTypeInput');
    var detailInput  = document.getElementById('detailInput');
    //费用类型
    var itemStyleArr = [];
    itemStyleArr[0] = ['管理费用'];
    itemStyleArr[1] = ['运营费用'];
    var detailInputArr = [];
    detailInputArr[0] =["管理费用","工资","福利费","招待费","办公费","差旅费","汽车费","邮电费","研究开发费","修理费","租赁费","物业费","水电费","税费","暂支","其他"];
    detailInputArr[1] = ["运营费用","对外服务费","员工服务费","税费","其他"];

    //生成选择费用类型
    for(var key in itemStyleArr) {
        var itemStyleOption = document.createElement('option');
        itemStyleOption.value = itemStyleOption.text = itemStyleArr[key];
        itemStyle.options.add(itemStyleOption);
    }

    //@current为当前选择的select节点，即父类节点
    //@child为子类点
    //@childArr为子节点数组
    function showChild(current,child,childArr) {
        var currentValue = current.value;
        var count = childArr.length;
        child.length = 1;
        for(var i = 0; i < count; i++) {
            //判断所选的值即父类，与当前节点第一个数组元素是否相市'
            if(currentValue == childArr[i][0]) {
                //不取第一个数组元市'因为第一个是父类，所以j市'开始，而不市'
                for(var j = 1; j < childArr[i].length; j++) {
                    var childOption = document.createElement('option');
                    //ie不支持option对象的value,所以加childOption.text
                    childOption.value = childOption.text = childArr[i][j];
                    child.options.add(childOption);

                }
            }
        }
    }
    //费用类型改变摘要
    itemStyle.onchange = function() {
        showChild(itemStyle,detailInput,detailInputArr);
    }

</script>

    <!-- content end -->