<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">创建报销单</strong> / <small>Add reimbursement</small></div>
    </div>
    <hr/>
    <div class="am-g">
        <form class="am-form am-form-horizontal" method="post" action="">
            <table cellpadding="0" cellspacing="0" border="0" id="commItemTable">
                <tr>
                    <th>部门：</th>
                    <td style="padding-right:30px">
                    	<select class="chosen-select" id="department_id" name="department_id">
                    		<option value="-1">- 选择部门 -</option>
                    		{{foreach from=$dept_list item=item}}
                            	<option value="{{$item.id}}" {{if $dept_id == $item.id}}selected='selected'{{/if}}>{{$item.name}}</option>
                            {{/foreach}}
                    	</select>
                    </td>
                    <th>制单人：</th>
                    <td><input type="text" name="reporter" id="reporter" placeholder="制单人" value="{{$creator|default:''}}">
                    </td>
                    <th></th>
                    <td><button  type="button" class="am-btn am-btn-primary" id="btnAdd">添加</button></td>
                </tr>
            </table>
        </form>
   </div>
<!--popup-->
    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
            	<form class="am-form am-form-horizontal" id="addBulletinForm">
	                <table cellpadding="0" cellspacing="0" border="0">
	                    <tr>
	                        <th>费用类型：</th>
	                        <td>
	                        	<select class="chosen-select" id="style_id" name="style_id">
	                            	<option value="-1">- 选择费用类型 -</option>
	                            	{{foreach from=$style_list item=item}}
	                            		<option value="{{$item.id}}">{{$item.name}}</option>
	                            	{{/foreach}}
	                        	</select>
	                        </td>
	                    </tr>
	                    <tr>
	                        <th>摘要：</th>
	                        <td>
	                        	<select class="chosen-select" id="type_id" name="type_id">
	                            	<option value="-1">- 选择摘要 -</option>
	                        	</select>
	                       	</td>
	                    </tr>
	                    <tr>
	                    	<th>项目：</th>
	                        <td><input type="text" id="project" name="project" placeholder="项目"></td>
	                    </tr>
	                    <tr>
	                        <th>日期：</th>
	                       	<td>
	                           	<input type="text" class="am-form-field" id="date" name="date" placeholder="日期" data-am-datepicker readonly required value="{{$today}}"/>
	                       	</td>
	                    </tr>
	                    <tr>
	                        <th>金额：</th>
	                        <td><input type="text" name="amount" id="amount"  placeholder="金额"></td>
	                    </tr>
	                    <tr>
	                        <th></th>
	                        <td>
	                        	<input type="button" class="am-btn am-btn-primary" value="添加" id="btnConfirm">
	                        	<input type="button" class="am-btn" value="关闭" id="btnClose">
	                        </td>
	                    </tr>
	                </table>
                </form>
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
        	<form class="am-form am-form-horizontal" method="post" id="reimbursementForm">
        		<input type="hidden" name="expense_id" id="expense_id" value="{{$expense_id}}">
        		<input type="hidden" name="dept_id" id="dept_id" value="">
        		<input type="hidden" name="creator" id="creator" value="">
        		<input type="hidden" name="total" id="total" value="">
	            <table class="am-table am-table-striped am-table-hover table-main reimbursement-table" id="add-reimbursement-table">
	                <thead>
	                <tr>
	                    <th class="table-id">项目</th>
	                    <th class="table-time">日期</th>
	                    <th class="table-freestyle">费用类型</th>
	                    <th class="table-abstract">摘要</th>
	                    <th class="table-money">金额</th>
	                    <th class="table-option">操作</th>
	                </tr>
	                </thead>
	                <tbody>
	                	{{foreach from=$expense_list item=item}}
	                    <tr>
	                       	<td>{{$item.project}}</td>
	                       	<td>{{$item.date}}</td>
	                       	<td>{{$item.style_name}}</td>
	                       	<td>{{$item.type_name}}</td>
	                       	<td class='amountClass'>{{$item.amount}}</td>
	                       	<td>
	                       		<input type="hidden" name="project[]" value="{{$item.project}}">
	                      		<input type="hidden" name="date[]" value="{{$item.date}}">
	                      		<input type="hidden" name="style_id[]" value="{{$item.style_id}}">
	                      		<input type="hidden" name="type_id[]" value="{{$item.type_id}}">
	                      		<input type="hidden" name="amount[]" value="{{$item.amount}}">
	                       		<button class="am-btn am-btn-default am-btn-xs am-text-danger btn_del" onclick="delete_reimbursement(this);"><span class="am-icon-trash-o"></span> 删除</button>
	                        	<button type="button"class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="view_reimbursement(this); return false;"><span class="am-icon-pencil-square-o"></span>编辑</button>
	                       	</td>
	                    </tr>
	                    {{/foreach}}
	                </tbody>
	            </table>
            </form>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-10">
        	<p class="am-cost-total"> 总计：￥<span class="total">{{$total|default:0}}</span></p>
        </div>
        <div class="am-u-sm-2">
        	<button  type="button" class="am-btn am-btn-danger" id="btnCreate">生成报销单</button>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
  	<div class="am-modal-dialog">
    	<div class="am-modal-hd">创建报销单</div>
    	<div class="am-modal-bd">你确定要创建这个报销单吗？</div>
    	<div class="am-modal-footer">
      		<span class="am-modal-btn" data-am-modal-cancel>取消</span>
      		<span class="am-modal-btn" data-am-modal-confirm>确定</span>
    	</div>
  	</div>
</div>

<script type="text/javascript">
	var today = '{{$today}}';
	var currentObj = null;
	
	function showAlert(message) {
		easyDialog.open({ container: { content: message }, autoClose: 1200 });
	}
	
	$(function() {
		$(".chosen-select").chosen({ width: '250px' });
		
		$("#style_id").change(function() {
			$("#type_id").empty();
			var style_id = $(this).val();
			$.get('/my_reimbursement/get_reimbursement_type_list/' + style_id, function(data) {
				var html = '<option value="-1">- 选择摘要 -</option>';
				var data = JSON.parse(data);
				for(var i in data) {
					html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
				}
				$("#type_id").html(html).trigger('chosen:updated');
			});
		});
		
		$("#btnConfirm").click(function() {
			var style_id = $("#style_id").val();
	        if (style_id < 0) {
	            showAlert("请选择费用类型！");
	            return;
	        }
	        
	        var type_id = $("#type_id").val();
	        if (type_id < 0) {
	            showAlert("请选择摘要！");
	            return;
	        }
	        
	        var project = $("#project").val();
			if (!project) {
				showAlert("项目不能为空！");
				return false;
			}
			
			var date = $("#date").val();
			if (!date) {
				showAlert("日期不能为空！");
				return false;
			}
	        
	        var amount = $("#amount").val();
			if (!amount) {
				showAlert("金额不能为空！");
				return false;
			}
			
			if(currentObj == null) {
				var html = "<tr>";
				html += "<td>" + project + "</td>";
				html += "<td>" + date + "</td>";
				html += "<td>" + $("#style_id").find("option:selected").text() + "</td>";
				html += "<td>" + $("#type_id").find("option:selected").text() + "</td>";
				html += "<td class='amountClass'>" + amount + "</td>";
				html += "<td>";
				html += " <input type='hidden' name='project[]' value='" + project + "'>";
				html += " <input type='hidden' name='date[]' value='" + date + "'>";
				html += " <input type='hidden' name='style_id[]' value='" + style_id + "'>";
				html += " <input type='hidden' name='type_id[]' value='" + type_id + "'>";
				html += " <input type='hidden' name='amount[]' value='" + amount + "'>";
				html += " <button class='am-btn am-btn-default am-btn-xs am-text-danger btn_del' onclick='delete_reimbursement(this);'><span class='am-icon-trash-o'></span> 删除</button>";
				html += " <button class='am-btn am-btn-default am-btn-xs am-text-secondary' onclick='view_reimbursement(this); return false;'><span class='am-icon-pencil-square-o'></span> 编辑</button>";
				html += "</td>";
				$("#add-reimbursement-table tbody").append(html);
			} else {
				currentObj.find('input[name="project[]"]').val(project);
				currentObj.find('input[name="date[]"]').val(date);
				currentObj.find('input[name="style_id[]"]').val(style_id);
				currentObj.find('input[name="type_id[]"]').val(type_id);
				currentObj.find('input[name="amount[]"]').val(amount);
				currentObj.find('td').eq(0).text(project);
				currentObj.find('td').eq(1).text(date);
				currentObj.find('td').eq(2).text($("#style_id").find("option:selected").text());
				currentObj.find('td').eq(3).text($("#type_id").find("option:selected").text());
				currentObj.find('td').eq(4).text(amount);
			}
			
			reset_total_amount();
			
			$("#my-alert").modal('close');
		});
		
		$("#btnClose").click(function() {
			$("#my-alert").modal('close');
		});
		
		$("#btnAdd").click(function() {
			currentObj = null;
			clear_popup_items();
			$("#my-alert").modal();
		});
		
		$("#btnCreate").click(function() {
			var department_id = $("#department_id").val();
			if (department_id < 0) {
	            showAlert("请选择部门！");
	            return;
	        }
			
			var reporter = $("#reporter").val();
			if(!reporter) {
				showAlert("制单人不能为空！");
	            return;
			}
			
			var length = $("#add-reimbursement-table tbody").find('tr').length
			if(length < 1) {
				showAlert("请添加报销明细！");
	            return;
			}
			
			$('#my-confirm').modal({
		        relatedTarget: this,
		        onConfirm: function(options) {
		        	$("#dept_id").val(department_id);
		        	$("#creator").val(reporter);
		        	$("#total").val($(".total").text());
		          	$("#reimbursementForm").attr('action', '/my_reimbursement/save_reimbursement').submit();
		        },
		        //closeOnConfirm: false,
		        onCancel: function() {}
			});
		});
	});
	
	function clear_popup_items() {
		$('#style_id').val(-1).trigger('chosen:updated');
		$('#type_id').val(-1).trigger('chosen:updated');
		$("#project").val('');
		$("#date").val(today);
		$("#amount").val('');
	}
	
	function reset_total_amount() {
		var total = 0;
		$('.amountClass').each(function() {
			total += parseFloat($(this).text());
		});
		$(".total").text(total);
	}	
	
	function view_reimbursement(obj) {
		currentObj = $(obj).parent().parent();
		
		$("#amount").val(currentObj.find('input[name="amount[]"]').val());
		$("#date").val(currentObj.find('input[name="date[]"]').val());
		$("#project").val(currentObj.find('input[name="project[]"]').val());
		
		var style_id = currentObj.find('input[name="style_id[]"]').val();
		var type_id = currentObj.find('input[name="type_id[]"]').val();
		$("#style_id").val(style_id).trigger('chosen:updated');
		$.get('/my_reimbursement/get_reimbursement_type_list/' + style_id, function(data) {
			var html = '<option value="-1">- 选择摘要 -</option>';
			var data = JSON.parse(data);
			for(var i in data) {
				html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
			}
			$("#type_id").html(html).val(type_id).trigger('chosen:updated');
			$("#my-alert").modal();
		});
	}
	
	function delete_reimbursement(obj) {
		reset_total_amount();
		$(obj).parent().parent().remove();
	}
</script>
<!-- content end -->