<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">查看报销单</strong> / <small>View reimbursement</small></div>
    </div>
    <hr/>
    <div class="am-g">
        <table cellpadding="0" cellspacing="0" border="0" id="commItemTable">
            <tr>
                <th>部门：</th>
                <td style="padding-right:30px">{{$dept_name|default:''}}</td>
                <th>制单人：</th>
                <td>{{$creator|default:''}}</td>
            </tr>
        </table>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
        	<form class="am-form am-form-horizontal" method="post" id="reimbursementForm">
	            <table class="am-table am-table-striped am-table-hover table-main reimbursement-table" id="add-reimbursement-table">
	                <thead>
	                <tr>
	                    <th class="table-id">项目</th>
	                    <th class="table-time">日期</th>
	                    <th class="table-freestyle">费用类型</th>
	                    <th class="table-abstract">摘要</th>
	                    <th class="table-money">金额</th>
	                </tr>
	                </thead>
	                <tbody>
	                	{{foreach from=$expense_list item=item}}
	                    <tr>
	                       	<td>{{$item.project}}</td>
	                       	<td>{{$item.date}}</td>
	                       	<td>{{$item.style_name}}</td>
	                       	<td>{{$item.type_name}}</td>
	                       	<td class='amountClass'>{{$item.amount}}</td>
	                    </tr>
	                    {{/foreach}}
	                </tbody>
	            </table>
            </form>
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-10">
        	<p class="am-cost-total"> 总计：￥<span class="total">{{$total|default:0}}</span></p>
        </div>
        <div class="am-u-sm-2">
        	<button  type="button" class="am-btn am-btn-danger" id="btnConfirm">确定</button>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
	$("#btnConfirm").click(function() {
		alert("");
	});
});
</script>
<!-- content end -->